<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>new_user</title>
</head>
<body>
    <div style="width: 60%; margin-left: 20%;">
        <div style="display: flex; flex-direction: row; justify-content: space-between;">
            <h1>Add a New User</h1>
            <a href="/">Home</a>
        </div>
        <div>
            {% with messages = get_flashed_messages()%}
                {% if messages %}
                    {% for message in messages %}
                        <p style="color: red;">{{message}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>

        <form action="/create" method="post">
            <div style="display: flex; flex-direction: column;">
                <label for="fname">First Name:</label>
                <input type="text" name="fname" id="fname" value="{{session['fname']}}">
            </div>
            <div style="display: flex; flex-direction: column;">
                <label for="lname">Last Name:</label>
                <input type="text" name="lname" id="lname" value="{{session['lname']}}">
            </div>
            <div style="display: flex; flex-direction: column;">
                <label for="email">Email:</label>
                <input type="text" name="email" id="email" value="{{session['email']}}">
            </div>
            <div style="margin-top: 20px;">
                <button class="btn btn-primary" type="submit">Create</button>
            </div>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>