<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dashboard</title>
</head>
<body>
    <h1>Welcome {{user["first_name"]}}</h1>
    <a href="/new">Add Magazine</a> | <a href="/user/account">Account</a> | <a href="/logout">Logout</a>
    <h2>Magazines</h2>
    <div style="border-style: solid; border-color: black; width: 300px; padding-bottom: 50px;" >
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>added By</th>
                </tr>
            </thead>
            <tbody>
                {% for row in all_mag %}
                <tr>
                    <td><a href="/show/{{row.id}}">{{row.title}}</a></td>
                    <td>{{row.creator.first_name}} {{row.creator.last_name}}</td>
                    <td><a href="/subscribe/{{row.id}}">Subscribe</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>