<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>display</title>
</head>
<body>
    <div style="margin-left: 30%; border-style: solid; border-color: black; width:400px; padding: 40px;">
        <form action="/process" method="POST">
            <div >
                <div style="display: flex;flex-direction: row; justify-content: space-between; margin: 20px;">
                    <label for="name">Your Name:</label>
                    <input type="text" name="name">
                </div>
                <div style="display: flex;flex-direction: row; justify-content: space-between; margin: 20px;">
                    <label for="location">Dojo Location:</label>
                    <select name="location" id="location">
                        <option value="san jose">San Jose</option>
                        <option value="San Francisco">San Francisco</option>
                        <option value="san Diego">San Diego</option>
                        <option value="Los Angeles">Los Angeles</option>
                    </select>
                </div>
                <div style="display: flex;flex-direction: row; justify-content: space-between; margin: 20px;">
                    <label for="language">Favorite Language:</label>
                    <select name="language" id="language">'
                        <option value="Python">Python</option>
                        <option value="Java">Java</option>
                        <option value="JavaScript">JavaScript</option>
                    </select>
                </div>
            </div>
            <div  style="display: flex;flex-direction: column; margin: 20px;">
                <label for="comment" style="margin-bottom: 20px;">Comment (optional):</label>
                <textarea name="comment" id="comment" cols="30" rows="10"></textarea>
            </div>
            <button type="submit" style="background-color: cadetblue;">Button</button>
        </form>
    </div>
</body>
</html>