<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>play</title>
    <style>
        .content{
            display: flex;
            flex-direction:row ;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        .box {
            background-color: blue;
            width: 100px;
            height: 100px;
            border-color: black;
        }

        h1 {
            color: maroon;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Welcome!</h1>
    <div class="content">
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
    </div>
</body>
</html>